<!DOCTYPE html>

<html>
    <head>
         <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>Otto is a person</title>
    </head>
    <body>
        {% include 'header.html' %}
        <h1> Who is Otto Jursch? </h1>
        <div class="row">
        <img src="static/me.jpg" width=240 height=300" class="img-column"/>
        <div class="text-column">
            <p>
                Hi. My name is Otto Jursch. This is my extremely unprofessional professional website. I'm an incoming Master's Student in Electrical Engineering at UC San Diego, with a focus on Intelligent Systems, Robotics and Control. 
                I have a Bachelors degree in Computer Science from UCSD as well. In the past I've worked at Verizon Wireless and Amazon.com, currently I work at Epsilon Systems. I like robot navigation, autonomous vehicles, computer vision, machine learning, 
                functional programming, basketball, and closing my browser after finishing a project.
            </p>
            <h3>
                Contact Info
            </h3>
                <ul>
                    <li><a href="mailto:ottojursch@gmail.com">ottojursch {at} gmail.com</a></li>
                </ul>
            <h3>
                Links
            </h3>
            <ul>
                <li> <a href="https://github.com/OttoJursch">Github</a></li>
                <li> <a href="tuas.ucsd.edu">LinkedIn</a></li>
                <li> <a href="https://www.goodreads.com/user/show/85927261-otoo-jaursk">Goodreads</a></li>
                <li> <a href="static/.vimrc">.vimrc</a></li>
                <li> <a href="http://jursch.com">My Grandpas Website</a></li>
            </ul>
            </div>
        </div>
    </body>
</html>
